<% title "Casa do Dentista" %>

<div class="listing-type-grid catalog-listing">
  <ol class="grid-row">
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
    <li class="item">
        <p class="product-image">
            <a href="#" title="Akio Dresser">
                <img src="images/demo/pthumb_monojato.gold.line.VH.jpg" width="90" alt="" />
            </a>
        </p>
        <h3><a href="#" title="">Prótese Equipamentos - Monojato sem exaustor - VH EQUIPAMENTOS</a></h3>
        <div class="price-box">
            <span class="regular-price">
                <span class="price">R$ 1.359,00<br />
                    ou 12 X de R$ 135,90</span>
            </span>
        </div>
    </li>
  </ol>

</div>

