	                      <form id="search_mini_form" action="#" method="get">
		                      <div>
		                        <input type="submit" class="submit" value="Buscar" />
		                        <input id="search" type="text" class="input-text" name="q" value="" />
		                      </div>
	                      </form>

