            <div class="header-nav-container clearfix">
                <div class="header-nav">
                    <div id="nav">
                        <ul>
                            <li><%= link_to "<span>Home</span>", :root, :rel=>"follow" %></li>
                            <li><a href="#" rel="follow"><span>Empresa</span></a></li>
                            <li><a href="#" rel="follow"><span>FAQ</span></a></li>
                            <li><a href="#" rel="follow"><span>Cadastro</span></a></li>
                            <li><a href="#" rel="follow"><span>Orçamentos</span></a></li>
                            <li><a href="#" rel="follow"><span>Contato</span></a></li>
                            <li><a href="#" rel="follow"><span>Atendimento Online</span></a></li>
                        </ul>

                        <%= render :partial => "partials/busca_simples" %>

                    </div>
                </div>
            </div>

