<ul class="nav">
  <li><%= link_to "Páginas", admin_paginas_path,:rel=>"nofollow" %></li>
  <li><%= link_to "Categorias", admin_categorias_path,:rel=>"nofollow" %></li>
  <li><%= link_to "Produtos", admin_produtos_path,:rel=>"nofollow" %></li>
  <li><%= link_to "Blocos", admin_blocos_path,:rel=>"nofollow" %></li>
</ul>

